<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, :placeholder => "Nom du service" %>
  </div>
  <div class="field">
    <%= f.text_area :description , :placeholder => "Description"%>
    <label>Catégorie :</label><br>
    <%= collection_select(:service, :category_id, Category.all, :id, :title, :prompt => 'Veuillez sélectionner une catégorie') %>
  </div>
  <div class="field">
    <%= f.text_field :place , :placeholder => "Lieu"%>
  </div>
  <div class="field">
    <%= f.number_field :nbpart, :placeholder => "Nombre de participants souhaités" %>
  </div>
  <div class="field">
    <%= f.text_field :price, :placeholder => "Prix" %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit "Poster ma demande" %>
  </div>
<% end %>
