<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, :placeholder => "Nom du service" %>
  </div>
  <div class="field">
    <%= f.text_area :description , :placeholder => "Description"%>
  </div>
  <div class="field">
    <%= f.text_field :place , :placeholder => "Lieu"%>
  </div>
  <div class="field">
    <%= f.text_field :transport, :placeholder => "Transport" %>
  </div>
  <div class="field">
    <%= f.number_field :nbpart, :placeholder => "Nombre de participants souhaités" %>
  </div>
  <div class="field">
    <%= f.text_field :price, :placeholder => "Prix" %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
