<% if @service.statut %>
  Ce service a déjà été rendu
<% else %>
  Ce service est toujours demandé par <%= @service.user.name %>
<% end %>
<br>
<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @service.place %>
</p>
<p>
  <strong>Nombre de personnes:</strong>
  <%= @service.nbpart %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @service.date %>
</p>


<% unless @service.statut or @current_user.nil? %>
  <% if @service.belongs_to?(current_user) %>
    <%= link_to 'Modifier', edit_service_path(@service) %> 
  | <%= button_to 'Terminer ce service', terminate_service_path(@service) %>
  <% else %>
    <%= link_to 'Toutes les demandes', root_path %> | 
    <%= button_to 'Participer à l\'évènement', participate_to_service_path(@service) %>
  <% end %>
<% end %>