<div class="service-container">
  <div class="service-banner" style="background-color:<%= @service.category.color unless @service.category.color.nil?  %>">
    <i class="icon-category pe-7s-<%= @service.category.glyph unless @service.category.glyph.nil? %>"></i>
    <h2 class="service-title"><%= @service.title %></h2>
    <!-- Nb de points -->
    <span class="service-points">
      <span><%= @service.price.to_i %> points</span>
    </span>
    <!-- Liste des caractéristiques -->
    <ul class="service-details">
      <li><i class="icon pe-7s-map-marker"></i> <%= @service.place %></li>
      <li><i class="icon pe-7s-pin"></i> <%= @service.date.strftime('%e/%m/%Y') %></li>
      <li><i class="icon pe-7s-users"></i> <%= @service.nbpart %></li>
    </ul>
  </div>
  <div class="service-content">

    <div class="table">

      <div class="service-enquire">
        <figure class="enquire-fig">
          <%= image_tag @service.user.image unless @service.user.image.nil? %>
        </figure>
        <div class="enquire-intro">
          <h3 class="enquire-name"><%= @service.user.name %></h3>    
          <p class="enquire-description"><%= @service.user.description %></p>
        </div>
      </div>

      <div id="map" class="service-map"></div>
    </div>

  <!-- Description du service -->
  <p class="service-description"><%= @service.description %></p>

  <!-- Liens d'autres annonces -->
  <% unless @service.statut or @current_user.nil? %>
    <% if @service.belongs_to?(@current_user) %>
      <%= link_to 'Modifier', edit_service_path(@service) %> 
    | <%= button_to 'Terminer ce service', terminate_service_path(@service) %>
    <% else %>
      <%= link_to 'Toutes les demandes', root_path %> | 
      <%= button_to 'Participer à l\'évènement', participate_to_service_path(@service) %>
    <% end %>
  <% end %>
  </div>
</div>