<div class="service-container">
  <div class="service-banner">
    <h2 class="service-title"><%= @service.title %></h2>
    <!-- Nb de points -->
    <span class="service-points">
      <span><%= @service.price.to_i %> Points</span>
    </span>
    <!-- Liste des caractéristiques -->
    <ul class="service-details">
      <li><%= @service.place %></li>
      <li><%= @service.date.strftime('%e/%m/%Y') %></li>
      <li><%= @service.nbpart %></li>
      <li></li>
    </ul>
  </div>
  <div class="service-content">


    <p class="service-state">  
      <% if @service.statut %>
        Ce service a déjà été rendu
      <% else %>
        Ce service est toujours demandé par <%= link_to @service.user.name, @service.user, title: "Voir le profil" %>
      <% end %>
    </p>



  <!-- Description du service -->
  <p class="service-description"><%= @service.description %></p>

  <!-- Liens d'autres annonces -->
  <% unless @service.statut or @current_user.nil? %>
    <% if @service.belongs_to?(@current_user) %>
      <%= link_to 'Modifier', edit_service_path(@service) %> 
    | <%= button_to 'Terminer ce service', terminate_service_path(@service) %>
    <% else %>
      <%= link_to 'Toutes les demandes', root_path %> | 
      <%= button_to 'Participer à l\'évènement', participate_to_service_path(@service) %>
    <% end %>
  <% end %>
  </div>
</div>