<div class="notice">
  <span>
    <%= notice %>
  </span>
</div>
<h1>Mon profil</h1>
<%= image_tag @user.image %>
<p>
<strong><i class="pe-7s-user"></i></strong>
<%= @user.name %>
</p>


<p>
  <strong><i class="pe-7s-home"></i></strong>
  <%= @user.email %>
</p>

<p>
  <strong><i class="pe-7s-phone"></i></strong>
  <%= @user.phone %>
</p>
<% unless @user.description.empty? %>
 <p>
  <strong><i class="pe-7s-id"></i></strong>
  <%= @user.description %>
</p>
<% end %>
<p>
  <strong><i class="pe-7s-rocket"></i></strong>
  <%= @user.age %>
</p>

<p>
  <strong><i class="pe-7s-piggy"></i></strong>
  <%= @user.points.to_i %> crédits
</p>

<%= link_to 'Modifier mon profil', edit_user_path(@user) %>
<div class="service-container user">
  <h2>Mes annonces</h2>
    
  <!-- Services list -->
    <ul class="service-list">       
      <% @services.each do |service| %>

        <li class="service-item col-xs-12">
          <% unless service.category.nil? %>
          <div class="service-icon" style="background-color:<%= service.category.color unless service.category.color.nil?  %>">
            <i class="icon pe-7s-<%= service.category.glyph unless service.category.glyph.nil? %>"></i>
            <a href="<%= service.category.slug unless service.category.slug.nil? %>" title="Catégorie de l'annonce" class="service-category"><%= service.category.title unless service.category.nil? %></a>
          </div>            
          <% end %>
          <div class="service-item_content">
            <h3 class="service-item_title"><%= service.title %></h3>
            <% if !service.done %>
              <span class="service-item_points"><%= service.price.to_i %> pts</span>
            <% else %>
              <span class="service-item_points"><%= service.price.to_i %> pts</span>
            <% end %>
            <ul class="detail-list">
              <li class="detail-item"><i class="icon pe-7s-map-marker"></i> <%= service.place %></li>
              <li class="detail-item"><i class="icon pe-7s-pin"></i> <%= service.date.strftime('%e/%m/%Y') %></li>
              <li class="detail-item"><i class="icon pe-7s-users"></i> <%= service.nbpart %> participants maximum</li>
            </ul>
            <% if service.users.count == 1 %>
              <h4>Il participe :</h4>
            <% elsif service.users.count > 1 %>
              <h4>Ils participent :</h4>
            <% end %>
             <ul>
            <% service.users.each do |participant| %>
              <li><%= participant.name %></li>
            <% end %>
            </ul>
            <%= link_to 'Modifier ma demande', edit_service_path(@service), class: 'service-link' %> 
            <%= button_to 'Ce service m\'a été rendu', terminate_service_path(@service), class: 'service-link' %>
          </div>
        </li> 
      <% end %>
    </ul>
</div>