<h1>Services</h1>
<ul>
<% @services.each do |service| %>
	<li><%= service.title %> : <br>
	<%= service.description %><br>
	Lieux : <%= service.place %><br>
	Prix :  <%= service.price %><br>
	<%= link_to "Voir le détail", service %>
	</li>
<% end %>
</ul>