<!DOCTYPE html>
<html>
  <head>
    <title>Sherbim</title>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="main-header">
      <a class="header-logo" title="Sherbim" href="/">Shërbim</a>
      <button class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav class="main-nav">
        <ul class="main-nav_list">
          <li><a href="/" title="">A propos</a></li>
          <% if @current_user %>
            <li><%= link_to @current_user.name, signout_path, id: "sign_out", title: "Se déconnecter" %></li>
          <% else %>
            <li><%= link_to "Se connecter", "/auth/facebook", id: "sign_in" %></li>
          <% end %>
        </ul>
      </nav>
      <% if @current_user %>
        <span class="user-points"><%= @current_user.points.to_s %></span>
      <% end %>
    </header>

    <main role="main" id="#main">
      <%= yield %>
    </main>

  </body>
</html>