<!DOCTYPE html>
<html>
  <head>
    <title>Sherbim</title>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Header -->
    <header class="main-header">
      <a class="header-logo" title="Sherbim" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" x="0" y="0" viewBox="0 0 481.3 469.2" xml:space="preserve" enable-background="new 0 0 481.3 469.2">
            <path class="g-lines" d="M379.5 76.5c-36.3-0.6-64.3 10.7-87.8 32.7 -35.2 32.8-45.1 73.5-35.5 119.9 0.4 1.8 2.1 3.6 3.7 4.6 0.6 0.4 2.9-1.2 4-2.3 40.9-41 88.6-52.6 143.4-33.7 4.6 1.6 6.8 1 9.5-3 20.5-30.7 24.7-64.1 17.1-99.6 -0.5-2.2-2.9-4.8-5.1-5.7 -8.6-3.4-17.3-6.9-26.2-9.1C393.8 78.1 384.7 77.4 379.5 76.5z"/>
            <path class="g-lines" d="M459.2 249.1c-22.2-28.8-48.4-43.7-80.2-48.5 -47.5-7.2-85.4 10.5-115.5 46.9 -1.2 1.4-1.5 3.9-1.3 5.8 0.1 0.7 2.7 1.5 4.3 1.7 57.4 6.5 96.2 36.7 115.6 91.5 1.6 4.6 3.5 6 8.3 5.6 36.7-3 65.3-20.6 88.2-48.7 1.4-1.8 1.9-5.3 1.3-7.5 -2.7-8.9-5.4-17.8-9.2-26.3C466.9 261.3 461.8 253.7 459.2 249.1z"/>
            <path class="g-lines" d="M374.6 419.2c8.6-35.4 3.8-65.3-12.2-93.2 -24-41.8-61.4-60.5-108.5-61.4 -1.8 0-4 1.2-5.3 2.6 -0.5 0.5 0.5 3.1 1.4 4.4 30.8 49.1 31.4 98.4 0.8 147.8 -2.6 4.2-2.5 6.5 0.8 10 25.2 26.9 56.8 38.4 92.9 38.9 2.3 0 5.3-1.8 6.7-3.7 5.2-7.6 10.5-15.4 14.7-23.6C369.8 432.9 372.6 424.2 374.6 419.2z"/>
            <path class="g-lines" d="M186.5 459.8c32.9-15.3 56-38.5 67.7-68.5 17.5-44.9 8.8-85.9-19.9-123.4 -1.1-1.4-3.4-2.4-5.3-2.6 -0.7-0.1-2.1 2.3-2.6 3.8 -19.1 54.8-57.1 86-114.6 92.8 -4.8 0.6-6.6 2.1-7.3 6.8 -5.2 36.6 5.5 68.5 27.7 97.1 1.4 1.8 4.7 3.1 7.1 2.9 9.2-0.6 18.5-1.3 27.6-3.2C175.7 463.7 181.5 461.3 186.5 459.8z"/>
            <path class="g-lines" d="M42.8 338.2c32.4 16.3 62.6 18.3 93.2 8.7 45.9-14.2 72.4-46.7 83.7-92.6 0.4-1.8-0.3-4.2-1.3-5.8 -0.4-0.6-3.1-0.2-4.6 0.3 -54.5 19.2-102.6 8.9-143.7-32 -3.5-3.4-5.7-3.9-9.9-1.4 -31.7 18.7-49.9 47-58.4 82.3 -0.5 2.2 0.6 5.6 2.1 7.3 6.3 6.8 12.6 13.7 19.7 19.6C30.6 330.6 38.5 335.2 42.8 338.2z"/>
            <path class="g-lines" d="M45.4 148.1c7.5 35.6 24.8 60.5 51.3 78.6 39.7 27.1 81.5 27.7 124.3 8 1.6-0.8 3.1-2.9 3.7-4.6 0.2-0.7-1.8-2.6-3.1-3.4 -49-30.8-70.9-75-64.7-132.8 0.5-4.9-0.5-6.9-5-8.6 -34.4-13.2-67.8-9.8-100.5 5.5 -2 1-4 3.9-4.4 6.3 -1.4 9.2-2.8 18.4-3 27.7C43.8 133.7 45.1 142.8 45.4 148.1z"/>
            <path class="g-lines" d="M195.2 31.5c-23 28.1-31.6 57.2-29.2 89.3 3.6 48.1 29.2 81.2 71.3 102.5 1.6 0.8 4.1 0.6 5.9 0 0.7-0.2 0.9-3 0.7-4.6 -6.5-57.6 14.2-102.4 63.1-133.6 4.1-2.6 5-4.7 3.6-9.3 -11.1-35.2-34.6-59.3-67-75.4"/>

            <path class="g-leaves" d="M101.5 76.5c36.4-0.6 64.5 10.7 88.1 32.7C225 142 235 182.7 225.3 229.1c-0.4 1.8-2.1 3.6-3.7 4.6 -0.6 0.4-2.9-1.2-4-2.3 -41-41-89-52.6-143.9-33.7 -4.6 1.6-6.9 1-9.6-3C43.5 164.1 39.3 130.6 47 95.2c0.5-2.2 2.9-4.8 5.1-5.7 8.6-3.4 17.3-6.9 26.3-9.1C87.2 78.1 96.3 77.4 101.5 76.5z"/>
            <path class="g-leaves" d="M21.5 249.1c22.3-28.8 48.6-43.7 80.5-48.5 47.7-7.2 85.7 10.5 115.9 46.9 1.2 1.4 1.5 3.9 1.3 5.8 -0.1 0.7-2.8 1.5-4.3 1.7 -57.7 6.5-96.6 36.7-116.1 91.5 -1.6 4.6-3.5 6-8.3 5.6 -36.8-3-65.6-20.6-88.5-48.7 -1.4-1.8-1.9-5.3-1.3-7.5 2.7-8.9 5.4-17.8 9.3-26.3C13.8 261.3 18.9 253.7 21.5 249.1z"/>
            <path class="g-leaves" d="M106.5 419.2c-8.6-35.4-3.9-65.3 12.3-93.2 24.1-41.8 61.6-60.5 108.9-61.4 1.8 0 4 1.2 5.3 2.6 0.5 0.5-0.5 3.1-1.4 4.4 -30.9 49.1-31.5 98.4-0.8 147.8 2.6 4.2 2.5 6.5-0.8 10 -25.3 26.9-57 38.4-93.3 38.9 -2.3 0-5.4-1.8-6.7-3.7 -5.3-7.6-10.5-15.4-14.7-23.6C111.3 432.9 108.5 424.2 106.5 419.2z"/>
            <path class="g-leaves" d="M292.5 458.9c-33-15.3-53.4-37.7-65.2-67.7 -17.6-44.9-8.8-85.9 20-123.4 1.1-1.4 3.5-2.4 5.3-2.6 0.7-0.1 2.1 2.3 2.6 3.8 19.1 54.8 57.3 86 115 92.8 4.9 0.6 6.6 2.1 7.3 6.8 5.2 36.6-5.5 68.5-27.8 97.1 -1.4 1.8-4.8 3.1-7.1 2.9 -9.3-0.6-18.6-1.3-27.7-3.2C306.2 463.7 297.6 460.5 292.5 458.9z"/>
            <path class="g-leaves" d="M439.5 338.2c-32.6 16.3-62.8 18.3-93.6 8.7 -46.1-14.2-72.7-46.7-84-92.6 -0.4-1.8 0.3-4.2 1.3-5.8 0.4-0.6 3.1-0.2 4.6 0.3 54.7 19.2 103 8.9 144.3-32 3.5-3.4 5.7-3.9 9.9-1.4 31.9 18.7 50.1 47 58.6 82.3 0.5 2.2-0.6 5.6-2.1 7.3 -6.3 6.8-12.7 13.7-19.8 19.6C451.8 330.6 443.9 335.2 439.5 338.2z"/>
            <path class="g-leaves" d="M436.9 148.1c-7.6 35.6-24.9 60.5-51.5 78.6 -39.9 27.1-81.8 27.7-124.8 8 -1.7-0.8-3.1-2.9-3.7-4.6 -0.2-0.7 1.8-2.6 3.2-3.4 49.2-30.8 71.1-75 64.9-132.8 -0.5-4.9 0.5-6.9 5.1-8.6 34.5-13.2 68-9.8 100.9 5.5 2 1 4.1 3.9 4.4 6.3 1.4 9.2 2.8 18.4 3 27.7C438.5 133.7 437.3 142.8 436.9 148.1z"/>
            <path class="g-leaves" d="M286.6 31.5c23.1 28.1 31.8 57.2 29.3 89.3 -3.6 48.1-29.3 81.2-71.6 102.5 -1.6 0.8-4.1 0.6-5.9 0 -0.7-0.2-0.9-3-0.7-4.6 6.6-57.6-14.2-102.4-63.3-133.6 -4.1-2.6-5.1-4.7-3.6-9.3 11.2-35.2 34.7-59.3 67.2-75.4"/>

            <path class="g-map" d="M240.5 146.7c29.2 1.3 52.1 13.9 66.1 39.9 13.9 25.8 12.5 51.9-3.1 76.6 -15.3 24.3-31.3 48.2-47 72.2 -1.5 2.3-3.2 4.5-4.5 7 -5.5 10.3-17.2 10.2-23.3 0 -7.1-11.9-15.1-23.4-22.7-35 -9.6-14.6-19.1-29.1-28.7-43.6 -30.5-46.2-2-108.9 52.9-116.1C233.4 147.2 236.9 147 240.5 146.7zM281.7 219.9c0-22.9-18.5-41.4-41.4-41.5 -23-0.1-41.7 18.5-41.7 41.4 0 22.9 18.6 41.5 41.7 41.5C263.2 261.3 281.7 242.8 281.7 219.9z"/>

            <circle cx="240.3" cy="219.6" r="42.4"/>
        </svg>
        <span>Shërbim</span>
      </a>
      <nav class="main-nav">
        <button class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="main-nav_list">
          <% if @current_user %>
            <li><a href="/" title="A propos">A propos</a></li>
            <li><%= link_to "Se deconnecter", signout_path, id: "sign_out", title: "Se déconnecter" %></li>
          <% else %>
            <li><a href="/" title="A propos">A propos</a></li>
            <li><%= link_to "Se connecter", "/auth/facebook", id: "sign_in" %></li>
          <% end %>
        </ul>
      </nav>
      <% if @current_user %>
        <a href="/users/<%= @current_user.id %>" class="user-points">
          <i class="icon pe-7s-user"></i>
          <span><%= @current_user.points.to_i %> points</span>
        </a>
      <% end %>
    </header>

    <button class="btn-ask" data-link="/services/new">
      <span class="btn-ask_icon"></span>
      <span class="btn-ask_text">
        <span class="ask">Demander un service</span>
        <span class="cancel">Fermer</span>
      </span>
    </button>

    <div class="popup popup-ask">
      <div class="popup-content"></div>
    </div>

    <!-- Main content -->
    <main role="main" id="#main">
      <%= yield %>
    </main>
    <!--./ Main content -->

    <!-- Footer -->
    <footer class="main-footer">
      <span class="copyright">&copy; Copyright 2016</span>
    </footer>

  </body>
</html>